body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(212, 51, 159);
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.digit {
    font-size: 150px;
    color: #000000;
    display: inline-block;
    background: rgba(0, 0, 0, 0.3); /* Add background for the box effect */
    border-radius: 15px;
    padding: 10px 20px; /* Adjust padding as needed */
    margin: 5px; /* Adjust margin as needed */
}

.txt {
    font-size: 60px;
    color: #000000;
}

#buttons {
    margin-top: 50px;
}

.btn {
    width: 75px;
    padding: 10px 15px;
    margin: 0px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

#start {
    background-color: #0ce7bc;
}

#stop {
    background-color: #187ee4;
}

#reset {
    background-color: #e62510;
}
